.container {
  padding-left: 1em;
}

.hero-section {
  background: url("stars.png") 50% no-repeat;
  background-size: cover;
  height: 15em;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

.hero-section .hero-section-text {
  color: #fefefe;
  text-shadow: 1px 1px 2px #0a0a0a;
  max-width: 50em;
}

h1, h2, h3, h4, p, li {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
}

h2 {
  letter-spacing: .75em;
  font-size: 3vh;
  padding: 0;
  margin-top: 1vh;
}

h3 {
  background-color: black;
  color: white; 
  font-size: 1.2em;
  width: 9.15em;
  padding: .5em;
  margin-top: .5em;
  text-align: center;
}

#loser, #winner {
  text-align: center;
  font-size: 5em;
}

#instructions {
  text-align: center;
  padding: 1em;
  font-size: 20px;
}

.characters, img #enemies {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

.row img {
  width: 10em;
  height: 10em;
  margin: .5em;
}

.characters img:hover {
  opacity: 0.5;
}


#teams {
  width: 30%;
}

.game {
  margin: 0 auto;
}


.selectCharacter, .selectEnemy {
  height: 17em;
  width: 11em;
  float: left;
  margin: 0 auto;
}

#buttonContainer  {
  text-align: center;
  }

#chewbaccaPoints, #soloPoints, #vadarPoints, #huttPoints {
  text-align: center;
}
